* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  display: table-cell;
  vertical-align: top;
  background-color: hsl(204, 43%, 93%);
}
.main {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  padding: 3rem;
  height: 100%;
}

ul {
  width: fit-content;
  list-style: none;
}
li {
  animation: comein 1s linear forwards;
  transform: translateX(-100%);
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
li > a {
  min-width: 500px;
  height: 100%;
}
li > img {
  border-left: 2px solid black;
  width: 200px;
  height: 100px;
}

@keyframes comein {
  to {
    opacity: 1;
    transform: translateX(0);
  }
  from {
    opacity: 0;
  }
}
