@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  padding: 0 1rem;
  display: table-cell;
  vertical-align: middle;
  background-color: hsl(204, 43%, 93%);
}
.container {
  margin: 2rem auto;
  font-family: "Karla", sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1500px;
  border-radius: 0.5rem;
  //   border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: none;
  //   box-shadow: 20px 0px 10px 10px rgba(0, 0, 0, 0.2);
  .box {
    padding: 2rem;
    h2,
    h3 {
      margin-bottom: 2rem;
    }
  }
  .info {
    background-color: white;
    flex-basis: 100%;
    animation: comein 1.5s ease-out forwards;
    transform: translateY(-100%);
    border: 1px solid rgba(0, 0, 0, 0.2);

    h2 {
      color: hsl(179, 62%, 43%);
    }
    h3 {
      color: hsl(71, 73%, 54%);
      margin-bottom: 1rem;
    }
    p {
      color: hsl(218, 22%, 67%);
    }
  }
  .bottom {
    color: white;
  }
  .sub {
    background-color: hsl(179, 62%, 43%);
    border-bottom-left-radius: 0.5rem;
    animation: comein 1.5s ease-out forwards;
    transform: translateX(-100%);
    strong {
      font-size: 2rem;
    }
    div {
      position: relative;
      width: fit-content;
      display: inline-block;
      span {
        position: absolute;
        top: 0.5rem;
        right: -5rem;
        opacity: 0.6;
      }
    }
    button {
      cursor: pointer;
      max-width: 300px;
      margin-top: 2rem;
      width: 100%;
      line-height: 2.5rem;
      background-color: hsl(71, 73%, 54%);
      color: white;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 8px;
    }
  }
  .faq {
    background-color: hsl(179, 62%, 57%);
    border-bottom-right-radius: 0.5rem;
    animation: comein 1.5s ease-out forwards;
    transform: translateX(100%);
    ul {
      list-style: none;
    }
  }
  & > * {
    flex: 1;
    flex-basis: 0;
  }
}
@media (max-width: 600px) {
  .container {
    flex-direction: column;
    & > * {
      flex: 1;
      flex-basis: 100%;
      //   height: 100%;
      //   flex-grow: 1;
    }
    .sub {
      border-bottom-left-radius: 0px;
    }
    .faq {
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
  }
}

@keyframes comein {
  to {
    opacity: 1;
    transform: translateX(0);
  }
  from {
    opacity: 0;
  }
}
